<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <div class="auth-reg-container">
        <form class="registry_form" method="post">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
            <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Введите имя пользователя" name="username">
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Введите пароль" name="password">
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Подтвердите пароль" name="password">
            <button type="submit">Зарегестрироваться</button>
        </form>
    </div> 
</body>
</html>